@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: table;
  margin: auto;
}
::-webkit-scrollbar {
  display: none;
}

#wrap {
  width: 800px;
  margin: 0 auto;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: #fcde67;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  vertical-align: middle;
}
::-webkit-scrollbar {
  display: none;
}
#frame {
  position: absolute;
  margin: 2% 0% 2% -27%;
  width: 97%;
  height: 93vh;
  background: rgba(75, 120, 137, 0.796);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
}
#sidepanel {
  background: #2c3e50;
  color: #f5f5f5;
  position: relative;
  border-radius: 10px 0 0 10px;
}
.chat-sidebar {
  padding-left: 2em;
}
.bottom {
  cursor: pointer;
  width: 98%;
  border-radius: 0px;
  position: absolute;
  bottom: 0;
  font-size: 1.3em;
}
#contacts {
  width: 100%;
  margin-top: 20%;
}
.content {
  margin-left: 0%;
  width: 100%;
  display: grid;
  grid-template-rows: 94% 6%;
}

/* #recieve {
  padding: 11px;
  width: 60%;
  background: #cbcc87;
  border-radius: 13px;
} */
/* #send {
  padding: 11px;
  width: 60%;
  background: #a9bfd5;
  border-radius: 13px;
} */
input {
  padding: 2% 0% 0.6% 0%;
}
.fa-paper-plane {
  font-size: 2em;
}
input {
  width: 94%;
  border-radius: 7px;
  border: none;
}
i {
  cursor: pointer;
}
@media only screen and (max-width: 1240px) {
  input {
    width: 94%;
  }
  #wrap {
    padding-left: 7em;
  }
}
@media only screen and (max-width: 1190px) {
  input {
    width: 92%;
  }
  #wrap {
    padding-left: 10em;
  }
}
@media only screen and (max-width: 1130px) {
  input {
    width: 92%;
  }
  #wrap {
    padding-left: 12em;
  }
}
@media only screen and (max-width: 1070px) {
  input {
    width: 92%;
  }
  #wrap {
    padding-left: 14em;
  }
}
@media only screen and (max-width: 1020px) {
  input {
    width: 92%;
  }
  #wrap {
    padding-left: 14em;
    padding-top: 2%;
  }
}
@media only screen and (max-width: 675px) {
  input {
    width: 92%;
  }
  #wrap {
    padding-left: 15em;
    padding-top: 3%;
  }
  .content {
    display: grid;
    grid-template-rows: 98% 2%;
  }
  #frame {
    grid-template-columns: 10% 90%;
  }
}
